<ion-view view-title="LOGIN">
  <ion-content class="stable-bg padding">
  	<ion-list class="item-stable">
	        <label class="item item-input ">
	                <input ng-modal="username" type="text" placeholder="Email Address(username)">
	        </label>
	        <label class="item item-input ">
	                <input ng-modal="password" type="password" placeholder="Password">
	        </label>
	        <label class="item item-input item-stable">
	        		<button class="button button-block button-light" ng-click="fLogin()">
					  Login
					</button>
	        </label>
	        <label class="item item-input item-stable">
	        		<button class="button button-block button-light" ng-click="fRegister()">
					  Register
					</button>
	        </label>
	</ion-list>
  </ion-content>
</ion-view>