<ion-view view-title="REGISTER" hide-back-button="true">
  <ion-content class="stable-bg padding text-center"><label class="item item-stable"><h3>ROADMAP (3 of 3)</h3></label>
  			<br>
  	<ion-list class="item-stable">
  			
	        <label class="item item-input">
	        <span class="input-label">MATURE BODY WEIGHT</span>
	                <input ng-modal="mature_body_wieght" type="text" placeholder="INPUT Mature Body Weight"><span class="input-label">kg</span>
	        </label>
	        <label class="item item-input ">
	        <span class="input-label">TARGET AFC</span>
	                <input ng-modal="target_afc" type="text" placeholder="INPUT Target AFC"><span class="input-label">month</span>
	        
	        </label>
	        <label class="item item-input ">
	        <span class="input-label">GENERAL BIRTH WEIGHT</span>
	                <input ng-modal="general_body_wieght" type="text" placeholder="INPUT General Birth Weight"><span class="input-label">kg</span>
	        </label>
	        <label class="item item-input ">
	        <span class="input-label">WEANING WEIGHT</span>
	                <input ng-modal="weaning_weight" type="text" placeholder="INPUT Weaning Weight"><span class="input-label">kg</span>
	        </label>
	        <label class="item item-input ">
	        <span class="input-label">AGE AT WEIGHT</span>
	                <input ng-modal="age_at_weight" type="text" placeholder="INPUT Age at Weight"><span class="input-label">days</span>
	        </label>
	        <label class="item item-input item-stable">
	        		<button class="button button-block button-light" ng-click="fRegisterView()">
					  NEXT
					</button>
	        </label>
	</ion-list>
  </ion-content>
</ion-view>